services:
  auth:
    build:
      context: .
      dockerfile: ./auth/Dockerfile
      target: development
    command: npm run dev:auth 
    # env_file:
    #   - ./apps/orders/.env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '3001:3001'