name: tests-tickets

on:
  pull_request:
    paths:
      - "server/tickets/**"
  push:
    branches:
      - main
    paths:
      - "server/tickets/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cd server/tickets && npm install && npm run test:ci
