name: tests-auth

on:
  pull_request:
    paths:
      - "server/auth/**"
  push:
    branches:
      - main
    paths:
      - "server/auth/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cd server/auth && npm install && npm run test:ci
