name: tests

on:
  pull_request:

jobs:
  Jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Tests
        run: |
          cd server/auth 
          npm install 
          npm test
