name: tests-orders

on:
  pull_request:
    paths:
      - "server/orders/**"
  push:
    branches:
      - main
    paths:
      - "server/orders/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cd server/orders && npm install && npm run test:ci
